
@{
    ViewBag.Title = "ViewContact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Contact</h2>
<div class="card border-success mb-3" style="max-width: 20rem;">
    <div class="card-body">
       <ul>
           <li>May Phoo Wint Zay Oo</li>
           <li>09401554657, 09971537618</li>
           <li>mayphoowintzayoo@gmail.com</li>
           <li>Linked In</li>
       </ul>
    </div>
</div>

