@model Profolio_ASPDotNet.Models.ProjectsModel.ProjectsViewModel
@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@foreach (var project in Model.Projects)
{
    <button type="button" class="btn btn-outline-success"
            onclick="location.href='@Url.Action("ViewProjectDetails", "Project", new { id = project.Id })'">
        @project.ProjectName
    </button>
}
