@model IEnumerable<Profolio_ASPDotNet.Models.Project>
@{
    ViewBag.Title = "ViewProgrammingLanguage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var languageName = new List<String>();
}
@foreach (var project in Model)
{
    if (!languageName.Contains(project.PLanguage))
    {
        <button type="button" class="btn btn-outline-success"
                onclick="location.href='@Url.Action("ViewProject", "Project",new { PLanguage=project.PLanguage})'">
            @project.PLanguage
        </button>
        languageName.Add(project.PLanguage);
    }

}