@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    
    
    

<div class="row">
    <div class="col-xs-6 col-md-6">
        <div class="bs-component">
            <h2>About Myself</h2>
            <p>
                I studied at the University of Computer Studies Magway and graduated in 2019 with a degree of Computer Science.
            </p>
            <p>
                Before graduation, I did my intership at 360ed in 2018 as a android developer because we needed to do graduation project in 2nd semester of final year.
                After finished graduation project presentation at the University, I got back to 360ed because I received job offer from the company
                when I was preparing for the project presentation and documentation.
            </p>
            <p>
                And then, I worked at 360ed for 3 years as a mobile application developer. I am interested in learning and making new things dealing with my career. That is all about myself.
            </p>
        </div>
    </div>
    <div class="col-xs-6 col-md-3">
        <div class="card border-success mb-3 rounded-circle" style="max-width: 25rem;">
                <img src="~/images/MayPhoo.jpg" width="300" class="rounded-circle" alt="Cinque Terre" />
        </div>
    </div>
    <div class="col-xs-6 col-md-3">
        <div class="card border-success mb-3" style="max-width: 20rem;">
            <div class="card-body">
                <h4 class="card-title">May Phoo Wint Zay Oo</h4>
                <p class="card-text">Mobile Application Developer</p>
                <p>B.C.Sc-University of Computer Studies Magway</p>
                <ul class="navbar-nav ms-md-auto">
                    <li class="nav-item">
                        <a target="_blank" rel="noopener" class="nav-link" href="https://github.com/MayPhoo-tech-2020"><i class="fa fa-github"></i> GitHub</a>
                    </li>
                    <li class="nav-item">
                        <a target="_blank" rel="noopener" class="nav-link" href="http://www.linkedin.com/in/mayphoo"><i class="fa fa-linkedin"></i> LinkedIn</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>

