
@{
    ViewBag.Title = "ViewExperience";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-lg-4">
    <div class="bs-component">
        <h2>Work Experience</h2>
        <p>
            360ed - Application Developer							Oct. 2018 – Feb. 2021
            •	Implemented educational app for learning school subjects including gaming and AR sections with C# programming.
            •	Fluent understanding of project management and software development life cycle (SDLC).
            •	Experience in project management
            •	Expert communication, interpersonal, problem solving, leadership and organizational skills.
            •	The followings are the list of accomplished projects together with my colleagues.
            1.	https://play.google.com/store/apps/details?id=com.threesixtyed.universe&hl=en_US&gl=US
            2.	https://play.google.com/store/apps/details?id=com.threesixtyed.electriccircuitar&hl=en_US&gl=US
            3.	https://play.google.com/store/apps/details?id=com.threesixtyed.gradeoneenglish&hl=en_US&gl=US
            4.	https://play.google.com/store/apps/details?id=com.threesixtyed.datthinponechem&hl=en_US&gl=US
            360ed - Android Developer (Internship)						May. 2018 – Aug. 2018
            •	Learned about developing android application with Java programming and AR.
            •	Developed android application with Java and Kotlin.
            •	Prepared contents with HTML, CSS.

        </p>
    </div>
</div>