

@{
    ViewBag.Title = "ViewExperience";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-lg-10">
    <div class="bs-component">
        <h2>Work Experience</h2>
        <h3>360ed - Android Developer</h3>
        <p>
            <ul>
                <li>
                    Learned about developing android application with Java programming and AR.
                </li>
                <li>
                    Prepared contents with HTML, CSS.
                </li>
            </ul>
        </p>
        <h3>
            360ed - Application Developer
        </h3>
        <p>
            <ul>
                <li>
                    Implemented educational app for learning school subjects including gaming and AR sections with C# programming.
                </li>
                <li>
                    Fluent understanding of project management and software development life cycle (SDLC).
                </li>
                <li>
                    Experience in project management
                </li>
                <li>
                    Expert communication, interpersonal, problem solving, leadership and organizational skills.
                </li>
            </ul>
        </p>
        <h3>Responsibilities</h3>
        <p>
            <h4>Maintenance & Updating Features</h4>
            <button type="button" class="btn btn-outline-success" style="margin-right: 20px; margin-top:20px;"
                    onclick="location.href='https://play.google.com/store/apps/details?id=com.threesixtyed.datthinponechem&hl=en_US&gl=US'">
                Dat Thin Pone Chemistry
            </button>
            <button type="button" class="btn btn-outline-success" style="margin-top: 20px;"
                    onclick="location.href='https://play.google.com/store/apps/details?id=com.threesixtyed.gradeoneenglish&hl=en_US&gl=US'">
                Grade One English
            </button>
        </p>
        <p>
            <h4 style="margin-top: 20px;">Development</h4>
            <button type="button" class="btn btn-outline-success" style="margin-top: 20px;"
                    onclick="location.href='https://play.google.com/store/apps/details?id=com.threesixtyed.electriccircuitar&hl=en_US&gl=US'">
                Electric Circuit AR
            </button>
        </p>
        <p>
            <h4 style="margin-top: 20px;">Management, Development, Maintenance & Updating Features</h4>
            <button type="button" class="btn btn-outline-success" style="margin-top: 20px;"
                    onclick="location.href='https://play.google.com/store/apps/details?id=com.threesixtyed.universe&hl=en_US&gl=US'">
                360ed Universe
            </button>
            <ul style="margin-top: 20px;">
                <li>Grade One English</li>
                <li>Grade Two English</li>
                <li>Grade Six English</li>
                <li>Grade One Science</li>
            </ul>
        </p>

    </div>
</div>